<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://bootswatch.com/5/minty/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-dcWpX5KoYvLS/cXlEo2qNjjbKt4f3R8vqXrK+PU7PkbZzA0u1mYQaXhtKwvpWpD7yHc4EdlGh+Kl1Kv8J7ySVw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
<title>Product Management System</title>
</head>
<body>
 {% include "product/navigation.html " %}  

{% block content  %}

{% endblock content %}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>