{% extends "product/base.html" %}  

{% block content  %}
<div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 mt-5">
            <h1 class='fw-light'> Manage Your Product</h1>

            <p class="fw-light">Keep Track of Your Product and Recieve Quantity alerts for low product</p>
             
            <div>
                <a class="btn btn-primary" href="{% url 'login' %}">Get Started Now</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}